---
import { Image } from "astro:assets";
import Statblock from "@components/Statblock.astro"


type Spell = {
    name: string;
    level: number;
}

const character = Astro.props.player;
const { 
  name, 
  classN, 
  race, 
  attributes: { str, dex, con, int, wis, cha },
  spellbook,
  portrait
//   background, 
//   alignment, 
//   player, 
//   hitDice, 
//   level, 
//   xp, 
//   ac, 
//   hp, 
//   speed, 
} = character;


---


    <div class="bg-isabel rounded-xl max-h-full p-2">
        <div class="transition-all rounded-xl ">
            <header class="z-20 p-2 text-night">
                <h1 class="">{name}</h1>
                <h2 class="text-600 ">{race} {classN}</h2>
            </header>
        </div>
        <Image src={portrait} alt={name} class="w-auto " />
        <div class="row-start-2">
            <Statblock
                str={str}
                dex={dex}
                con={con}
                int={int}
                wis={wis}
                cha={cha}
            /> 
        </div>
    

    



