---
import Statblock from "@components/Statblock.astro"

const { name, classN, race, str, dex, con, int, wis, cha } = Astro.props;

---


<section class="bg-isabel rounded-md">
    <header class="flex flex-col gap-2 ">
        <h1 class="text-night">{name}</h1>
        <h2 class="text-gray text-600 ">{race} {classN}</h2>
    </header>
    <Statblock
        str={str}
        dex={dex}
        con={con}
        int={int}
        wis={wis}
        cha={cha}
    />
</section>

