---
import Layout from '@layouts/Layout.astro'
import type { GetStaticPaths } from 'astro';
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import CharacterCard from '@components/CharacterCard.astro';

interface Props {
  player: CollectionEntry<'players'>;
}

export const getStaticPaths: GetStaticPaths = async () => {
	const players = await getCollection("players");

	return (
		players.map((player) => ({
				params: { slug: player.slug },
				props: { player },
			}))
	);
};


const { player } = Astro.props;
const { name, classN, race, str, dex, con, int, wis, cha } = player.data;
const { Content } = await player.render();
---

<Layout title="">
	<main class="text-isabel w-full">
		<section class="mx-auto w-narrow px-4 mt-14 bg-isabel">
			<header class="grid grid-cols-1">
				<h1 class="text-1400 font-bold text-trophy">{name}</h1>
				<h2 class="uppercase text-800 text-trophy">{classN} {race}</h2>
			</header>
			<CharacterCard 
				str={str}
				dex={dex}
				con={con}
				int={int}
				wis={wis}
				cha={cha}
			/>

			<Content />
		</section>
	</main>
</Layout>